body,
html {
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}
.main_container {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: white;
}
.left_container {
  flex: 0.2;
  background-color: #000000;
  padding: 1rem;
}
.song>p{
    font-size: 14px;
    color: #B3B3B3;
}
.top_icons {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.middle_icons {
  padding-bottom: 0.6rem;
}
.icons {
  padding: 0.5rem;
}
.icons > input {
  background-color: transparent;
  border: none;
}

.icons > a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 0.6rem;
  text-align: center;
}
.bottom_links > ul > li {
  list-style-type: none;
  text-align: left;
  color: #ffffff;
}
.bottom_links > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
}
.bottom_links > ul > li > a:hover {
  text-decoration: underline;
  color: blue;
}
.icons:hover {
  background-color: #282828;
}
.install_app {
  margin-top: 2rem;
}
.install_app > a {
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.right_container {
  flex: 0.85;
  overflow-y: auto;
  background: linear-gradient(
    180deg,
    #222222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 0) 100%
  );
}
.player {
  position: fixed;
  bottom: 25px;
  height: 100px;
  width: 100%;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}
.recent_play > h6 {
  font-size: 16px;
  font-weight: 400;
}
.recent_play > p {
  font-size: 15px;
  font-weight: 700;
  color: #b3b3b3;
}
.top_right_section {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-inline: 1rem;
}
.angel {
  border-radius: 20px;
  background-color: #0a0a0a;
  height: max-content;
  text-align: center;
}
.caret1,
.caret2 {
  background-color: #131313;
  border-radius: 50%;
  margin-inline: 0.6rem;
}
.caret {
  display: flex;
  height: fit-content;
}
.morning_playlist {
  margin: 2rem;
  width: 80%;
}

.all_playlist {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}
.playlist_grid {
  overflow-y: scroll;
}
.playlist1 {
  display: flex;
  margin-inline: 1rem;
  overflow-x: scroll;
  margin-bottom: 1rem;
}
.playlist_card {
  background-color: #181818;
  padding: 0.8rem;
  width: max-content;
  height: fit-content;
  margin-right: 1rem;
}

.playlist > p {
  margin: 0px;
  padding-left: 0.7rem;
  padding-right: 3rem;
}
.playlist {
  background-color: #303030;
  border: none;
  height: fit-content;
  box-sizing: border-box;
  margin-right: 1rem;
  margin-top: 1.5rem;
}
.device_name {
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  background-color: #1ed760;
  color: #000000;
  text-align: right;
  padding-right: 3rem;
}
